* {
  margin:0;
  padding:0;
  box-sizing: border-box;
  font-family: 'Fjalla one', sans-serif;
}

#title-bg {
  width: 100%;
  background-color: #a0c6c0; /*fallback for no JS*/
}

#title-mask {
  display: block;
  height:100%;
  width:100%;
}

section {
  max-width: 800px;
  font-size: 1.2em;
  margin-left: 10%;
  margin-right: 15%;
  padding-bottom: 4em;
}

h2 {
  margin-bottom: 1em;
}

p {
  font-size: 1.1em;
  margin-bottom: 1em;
}

a {
  text-decoration: none;
}

span a {
  color: #000;
  display: inline-block;
  border-bottom: 4px solid;
  line-height: 1;
}

#email{
  border-color: #a0c6c0;
}

#github, #profiles-app{
  border-color: #f5d266;
}

#linkedin, #pizza-rat{
  border-color: #B3859A;
}

#resume {
  border-color: #EE9885;
}

#lone-star, #codepen {
  border-color: #e9636e;
}

#email:hover {
 color: #a0c6c0;
}
#github:hover, #profiles-app:hover{
  color: #f5d266;
}
#linkedin:hover, #pizza-rat:hover{
  color: #B3859A;
}
#resume:hover {
  color: #EE9885;
}

#lone-star:hover, #codepen:hover {
  border-color: #e9636e;
}
/*Individual Style Rules Below*/

.display-none {
  display: none;
}

  /*colors*/

.blue-green{
  color: #a0c6c0
}
.lavender {
  color: #B3859A
}
.pale-orange {
  color: #EE9885
}
.golden {
  color: #f5d266;
}
.lone-star-pink {
  color: #e9636e;
}

/*Responsive Rules*/
@media (min-width: 760px) {

  header {
    position: relative;
    overflow: hidden;
    height: 100vh;
  }

  #title-bg {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
  }

  section {
    font-size: 1.5em;
  }

  p {
    font-size: 1.3em;
  }

}
